.word-grid {
  color: rgb(238, 232, 232);
}
.word-row {
  color: rgb(71, 9, 9);
}
body {
  text-align: center;
  background-color: rgb(14, 13, 13);
}
.word-cell {
  /* background-color: rgb(44, 40, 40); */
  color: rgb(3, 3, 3);
  display: inline-block;
  position: sticky;
  height: 40px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  margin: 3px;
  border: 2px solid #111;
}
/* KeyBoard elements */
.key-cell {
  /* background-color: rgb(136, 22, 22); */
  margin: 3px;
  height: 30px;
  width: 30px;
  border: transparent none;
  color: wheat;
  padding: 5px;
}
.key-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.other-keys {
  background-color: rgb(136, 22, 22);
  height: 30px;
  width: 100px;
  border: transparent none;
  color: wheat;
  margin-left: 10px;
  margin-bottom: 10px;
}
.heading {
  color: wheat;
  font-size: 40px;
}
