.word-grid {
  color: black;
}
.word-row {
  color: rgb(71, 9, 9);
}
body {
  text-align: center;
}
.word-cell {
  background-color: rgb(44, 40, 40);
  color: wheat;
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: 50px;
  text-align: center;
  padding: 5px;
}
